<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打包平台</title>
</head>
<body>
    <p>打包记录</p>
        
    <%if(builds.length) {%> 
        <ul>
            <%builds.forEach(function(build){%>
                <li>
                    <label>版本：<%=build.appType%></label>
                    <label>应用名称：<%=build.appName%></label>
                    <label>bundleId：<%=build.bundleId%></label>
                    <label>version：<%=build.version%></label>
                    <a href="/build/detail/<%=build.appType%>/<%=build.taskId%>">查看详情</a>
                </li>
            <%})%>
        </ul>
    <%}%>

</body>
</html>