<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打包平台</title>
</head>
<body>
    <div>版本:<%=build.appType%></div>
    <div>应用名称:<%=build.appName%></div>
    <div>版本号:<%=build.version%></div>
    <div>build号:<%=build.buildVersion%></div>
    <div>bundleId:<%=build.bundleId%></div>
    <div>任务Id:<%=build.taskId%></div>
    <div>genkins队列Id:<%=build.queueId%></div>
    <div>打包状态:<%=build.status%></div>
    <% var startDate = new Date(build.startTimestamp*1000).toLocaleString();%>
    <div>打包开始时间:<%=startDate%></div>
    <div>公司Id:<%=build.companyId%></div>

    <% if(build.status=="waiting"||build.status=="building") {%>
        <a href="/build/delete/<%=build.appType%>/<%-build.taskId%>">异常删除，重新打包</a>
        <br>
    <% }%>
    <br>

    <a target="_blank" href="<%=jenkinsUrl%>">跳转到Jenkins查看</a>

    <br><a href="javascript:history.back();">返回</a>
</body>
</html>