<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打包平台</title>
</head>
<body>
    <p2>公司:<%=company.companyName%>  iOS打包</p2>
    <%{%>
    <% var appName = lastBuild.appName||"";var bundleId = lastBuild.bundleId||"";var version = lastBuild.version||"";var buildVersion = lastBuild.buildVersion||""; %>
    <form name="package" method="post" action="/build/ios/<%=company.companyId%>"> 
        app名称:<input type="appName"  name="appName" value="<%=appName%>"/> </br>
        app ID:<input type="bundleId" name="bundleId" value="<%=bundleId%>"/> </br>
        app版本号:<input type="version" name="version" value="<%=version%>"/> </br>
        app build号:<input type="buildVersion" name="buildVersion" value="<%=buildVersion%>"/> </br>
        <input type="submit" value="开始打包"> 
    </form>
    <%}%>
</body>
</html>